.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor; }

.icon-dribble__icon {
  font-size: 3.75rem;
  width: 1em; }

.icon-facebook__icon {
  font-size: 3.75rem;
  width: 1em; }

.icon-github__icon {
  font-size: 3.75rem;
  width: 1em; }

.icon-instagram__icon {
  font-size: 3.75rem;
  width: 1em; }

.icon-mail__icon {
  font-size: 1.5rem;
  width: 1.5em; }

.icon-phone__icon {
  font-size: 1.75rem;
  width: 1em; }

.icon-services__bulb {
  font-size: 7rem;
  width: 0.85714em; }

.icon-services__cloud-small {
  font-size: 4.5rem;
  width: 1.05556em; }

.icon-twiter__icon {
  font-size: 3.75rem;
  width: 1em; }

/* VARIABLES */
/* CONNECT GOOGLE FONTS */
/* CONNECT LOCAL FONTS */
@font-face {
  font-family: RobotoLight;
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff2") format("woff2"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype"), url("../fonts/RobotoLight/RobotoLight.svg#TTDrugsThin") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: RobotoLight;
    src: url("../fonts/RobotoLight/RobotoLight.svg#RobotoLight") format("svg"); } }

html {
  /* height hack */
  min-height: 100%;
  height: auto;
  height: 100%; }

body {
  /* height hack */
  min-height: 100%;
  height: auto;
  height: 100%;
  /* VERTICAL RYTHM */
  /* SMOOTH FONT */
  -webkit-font-smoothing: subpixel-antialiased; }

body.onload {
  overflow: hidden; }

button, select {
  -webkit-appearance: none; }

/* SELECT TEXT */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

a {
  text-decoration: none;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/* System */
.np {
  padding: 0; }

/* no padding */
.np-l {
  padding-left: 0; }

/* no padding left */
.np-r {
  padding-right: 0; }

/* no padding right */
.dp {
  padding: 0 30px; }

/* double padding */
.nm {
  margin: 0; }

/* no margin */
.nm-b {
  margin-bottom: 0; }

/* no margin bottom */
.p_small {
  padding: 5px; }

/* BASE RESET */
.navbar-default .navbar-toggle {
  border: none; }

/* HAPPY BROWSER */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.app {
  height: auto;
  min-height: 100%;
  background-color: goldenrod;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

form.container {
  width: 30%;
  min-width: 320px;
  position: relative; }
  form.container input {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    border: 0;
    padding: 20px 50px;
    border: 10px solid #EFEFEF;
    font-size: 35px;
    text-align: center; }
  form.container .output {
    width: 80%;
    list-style-type: none;
    margin: 0px auto;
    padding: 0; }
  form.container .output__item {
    text-transform: capitalize;
    margin-top: -2px;
    border-bottom: 1px solid #D8D8D8;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    padding: 20px; }
    form.container .output__item:nth-child(odd) {
      -webkit-transform: perspective(100px) rotateX(-3deg) translateY(3px);
      transform: perspective(100px) rotateX(-3deg) translateY(3px);
      background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#EFEFEF));
      background: -webkit-linear-gradient(bottom, #ffffff 0%, #EFEFEF 100%);
      background: linear-gradient(to top, #ffffff 0%, #EFEFEF 100%); }
    form.container .output__item:nth-child(even) {
      -webkit-transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
      transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
      background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#EFEFEF));
      background: -webkit-linear-gradient(top, #ffffff 0%, #EFEFEF 100%);
      background: linear-gradient(to bottom, #ffffff 0%, #EFEFEF 100%); }
    form.container .output__item .state {
      text-align: center; }
    form.container .output__item .population {
      display: block;
      float: right; }

.hl {
  background: #ffc600; }
