.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-dribble__icon {
	font-size:(37.5/10)*1rem;
	width:(37.5/37.5)*1em;
}
.icon-facebook__icon {
	font-size:(37.5/10)*1rem;
	width:(37.5/37.5)*1em;
}
.icon-github__icon {
	font-size:(37.5/10)*1rem;
	width:(37.5/37.5)*1em;
}
.icon-instagram__icon {
	font-size:(37.5/10)*1rem;
	width:(37.5/37.5)*1em;
}
.icon-mail__icon {
	font-size:(15/10)*1rem;
	width:(22.5/15)*1em;
}
.icon-phone__icon {
	font-size:(17.5/10)*1rem;
	width:(17.5/17.5)*1em;
}
.icon-services__bulb {
	font-size:(70/10)*1rem;
	width:(60/70)*1em;
}
.icon-services__cloud-small {
	font-size:(45/10)*1rem;
	width:(47.5/45)*1em;
}
.icon-twiter__icon {
	font-size:(37.5/10)*1rem;
	width:(37.5/37.5)*1em;
}
