@import 'settings';
@import url('https://fonts.googleapis.com/css?family=Padauk');
// preloader
.preloader {}
* {
	box-sizing: border-box;
}
 
body {
	font-family: 'Padauk', sans-serif;
}
.app {
	height: auto;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: 
            radial-gradient(55% 330%, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 550%), 
            linear-gradient(to top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.6) 50%), 
            linear-gradient(to top right, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 120%);
        background-color: #DFE3E4;
        background-blend-mode: color-burn, screen, color-burn;
}
.slider {
	display: inline-flex;
	overflow-x: scroll;
  	overflow-y: hidden;
  	user-select: none;
  	transition: all .5s ease;
  	white-space: nowrap;
	position: relative;
  	&.active {
  		cursor: grabbing;
  	}
}
.slider__item {
	margin: 0;
	display: block;
	margin-right: 20px;
	flex: 1 0 calc(100% / 8);
	border: 2px solid #3ba8c0;
	overflow: hidden;
	&:last-child {
		margin-right: 0;
	}
	img {
		height: 100%;
		width: 100%;
		pointer-events: none;
	}
}